---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/1234/by-champion/1?api_key=RGAPI-example-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 20:1,100:120
      X-App-Rate-Limit-Count:
      - 1:1,2:120
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 1:60
      X-Riot-Edge-Trace-Id:
      - 0a6fad6a-d705-4fe6-a642-4748daaec84d
    body:
      encoding: ASCII-8BIT
      string: '{"championId":1,"championLevel":1,"championPoints":643,"lastPlayTime":1501377133000,"championPointsSinceLastLevel":643,"championPointsUntilNextLevel":1157,"chestGranted":false,"tokensEarned":0,"summonerId":"1234"}'
  recorded_at: Mon, 18 Oct 2021 22:42:49 GMT
recorded_with: VCR 6.0.0
