---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/status/v4/platform-data?api_key=RGAPI-example-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 13 Oct 2021 06:56:21 GMT
      X-App-Rate-Limit:
      - 20:1,100:120
      X-App-Rate-Limit-Count:
      - 1:1,2:120
      X-Method-Rate-Limit:
      - 20000:10,1200000:600
      X-Method-Rate-Limit-Count:
      - 1:10,2:600
      X-Riot-Edge-Trace-Id:
      - f5951648-4acc-4b66-b25f-4fe9757a0979
    body:
      encoding: ASCII-8BIT
      string: '{"id":"EUW1","name":"EU West","locales":["de_DE","en_GB","es_ES","fr_FR","it_IT"],"maintenances":[],"incidents":[]}'
  recorded_at: Sat, 16 Oct 2021 16:52:23 GMT
recorded_with: VCR 6.0.0
