---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/clash/v1/tournaments?api_key=RGAPI-example-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 20:1,100:120
      X-App-Rate-Limit-Count:
      - 1:1,1:120
      X-Method-Rate-Limit:
      - 10:60
      X-Method-Rate-Limit-Count:
      - 1:60
      X-Riot-Edge-Trace-Id:
      - 37af41ae-6ff2-456c-a83f-79b3b71021e9
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1,"themeId":1,"nameKey":"something","nameKeySecondary":"something","schedule":[{"id":1,"registrationTime":1741687299910,"startTime":1839502930212,"cancelled":false}]},{"id":2,"themeId":2,"nameKey":"somethingelse","nameKeySecondary":"somethingelse","schedule":[{"id":2,"registrationTime":1501377133000,"startTime":1607812245000,"cancelled":false}]}]'
  recorded_at: Tue, 19 Oct 2021 19:48:54 GMT
recorded_with: VCR 6.0.0
