---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/clash/v1/teams/1?api_key=RGAPI-example-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 20:1,100:120
      X-App-Rate-Limit-Count:
      - 1:1,1:120
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 1:60
      X-Riot-Edge-Trace-Id:
      - 6a0967e8-c26c-467e-9471-1c9ff8584cda
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1","tournamentId":1,"name":"Example Tournament","iconId":1,"tier":1,"captain":"1","abbreviation":"EXP","players":[{"summonerId":"1","position":"TOP","role":"CAPTAIN"},{"summonerId":"2","position":"JUNGLE","role":"MEMBER"},{"summonerId":"3","position":"MIDDLE","role":"MEMBER"},{"summonerId":"4","position":"BOTTOM","role":"MEMBER"},{"summonerId":"5","position":"UTILITY","role":"MEMBER"}]}'
  recorded_at: Tue, 19 Oct 2021 21:10:57 GMT
recorded_with: VCR 6.0.0
