---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/clash/v1/tournaments/by-team/1?api_key=RGAPI-example-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 20:1,100:120
      X-App-Rate-Limit-Count:
      - 1:1,2:120
      X-Method-Rate-Limit:
      - 200:60
      X-Method-Rate-Limit-Count:
      - 2:60
      X-Riot-Edge-Trace-Id:
      - 89a708b1-bcd1-426d-96fa-ecdc3eccc7e9
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"themeId":1,"nameKey":"something","nameKeySecondary":"something","schedule":[{"id":1,"registrationTime":1741687299910,"startTime":1839502930212,"cancelled":false}]}'
  recorded_at: Tue, 19 Oct 2021 21:10:57 GMT
recorded_with: VCR 6.0.0
