---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-account/1234?api_key=RGAPI-example-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 20:1,100:120
      X-App-Rate-Limit-Count:
      - 1:1,1:120
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 1:60
      X-Riot-Edge-Trace-Id:
      - 282a9f0c-5f8f-4bff-ae90-a15b12cced1b
    body:
      encoding: ASCII-8BIT
      string: '{"id":"summoner_id","accountId":"1234","puuid":"puuid","name":"Example","profileIconId":3008,"revisionDate":1607814033000,"summonerLevel":100}'
  recorded_at: Wed, 25 Aug 2021 23:11:56 GMT
recorded_with: VCR 6.0.0
