---
http_interactions:
- request:
    method: get
    uri: https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/1234?api_key=RGAPI-example-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Rate-Limit:
      - 20:1,100:120
      X-App-Rate-Limit-Count:
      - 1:1,1:120
      X-Method-Rate-Limit:
      - 2000:60
      X-Method-Rate-Limit-Count:
      - 1:60
      X-Riot-Edge-Trace-Id:
      - a13307cb-c04b-4aee-a658-0df73463cb3e
    body:
      encoding: ASCII-8BIT
      string: '{"id":"summoner_id","accountId":"account_id","puuid":"1234","name":"Example","profileIconId":3008,"revisionDate":1607814033000,"summonerLevel":100}'
  recorded_at: Sat, 16 Oct 2021 14:39:45 GMT
recorded_with: VCR 6.0.0
